.container {
    @include flexbox(column);
    min-height: 100vh;
    @include sm {
        @include boxFixed(100%, 20px);
    }
    @include md {
        @include boxFixed(460px);
    }
}

//헤더
.header {
    &__logo {
        @include autoMargin;
        @include sm {
            width: percentage(164px / 320px);
            margin-top: em(70px);
            margin-bottom: em(45px);
        }
        @include md {
            width: 230px;
            margin-top: em(100px);
            margin-bottom: em(50px);
        }
    }
}

//메인
.main {
    flex-grow: 1;
}

//로그인 폼
.loginForm {
    legend {
        @include a11y;
    }
    &__container {
        @include flexbox(column);
    }
}

//아이디 및 비밀번호 입력 서식
.userEmail,
.userPassword {
    margin-bottom: em(10px);
}

.formControl {
    &User {
        border: 1px solid $secondary;
        padding: em(9px);
        &:focus-within {
            border-color: $primary;
        }
    }
    &__input {
        width: 100%;
        padding: em(5px);
        &:focus {
            outline: 0;
            background-color: $Alpha;
        }
    }
}

// .errorMessage {
//     color: &warning;
//     display: none;
//     &--inValid{
//         display: block;
//     }
// }
.errorMessage {
    color: $warning;
    display: none;
}

.is--invalid .errorMessage {
    display: block;
}

//로그인 상태 유지 및 IP보안
.userSelectInfo {
    order: 1;
    @include flexbox;
}

// IP 보안 링크
.ipSecurityLink {
    color: inherit;
    text-decoration: none;
    margin-left: auto;
}

//로그인 버튼
.loginButton {
    margin: em(10px) 0;
    background-color: $primary;
    color: $default;
    .formControl__button {
        background-color: inherit;
        color: inherit;
        width: 100%;
        padding: em(19px) em(16px);
    }
}

//IP 보안 체크 박스
.ipSecurity {
    //체크박스 input
    &Checkbox {
        position: absolute;
        width: 1px;
        height: 1px;
        opacity: 0;
    }
    //체크박스 label
    &Label::before {
        display: inline-block;
        width: em(36px, 14px);
        font-size: rem(14px);
        content: "OFF";
        font-weight: 700;
        margin-left: em(8px);
        color: $secondary;
    }
    &Checkbox:checked+&Label::before {
        content: "ON";
        color: $primary;
    }
    &Checkbox:focus+&Label::before {
        // outline: 1px Dotted $silver;
        box-shadow: 0 0 0 2px $outline;
        border-radius: 2px;
    }
}